body{
    background:url("../image/dominatehangman-1600.jpg");
    
   
}

li{
    list-style-type:none;
    display: inline-block;
    padding: 20px;
    font-size: 50px; 
}

#ul{
    display: none;
}

#button{
    position: absolute;
    bottom: 0;
    left: 400px;
}

.alphabet{
    background-color: rgb(230, 230, 230);

}

#main-div{
    position: absolute;
  top: 400px;
  left:600px;
}
.modal-bg{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    background-color: red;
    width: 30%;
    height: 30%;
    text-align: center;
}


.modal h2{
    padding-top: 40px;
}

.modal-close{
    cursor: pointer;
}

.modal-bj{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(65, 65, 65, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

 .bj-active{
    visibility: visible;
    opacity: 1;
} 

.modaj{
    background-color: rgb(11, 104, 47);
    width: 30%;
    height: 30%;
    text-align: center;
}


.modaj h2{
    padding-top: 40px;
}

.modal-clos{
    cursor: pointer;
}