@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap');


.imgCinema{
    background-image: url("../image/cine.webp");
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    

}

.imgSport{
    background-image: url("../image/swimming.webp");
    background-size: cover;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    

}


.imgAnimal{
    background-image: url("../image/fish.webp");
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    

}


.img{
    height: 800px;
}


.square{
    display:flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(225, 14, 14, 0.8);
    width: 75%;
    height: 60%;   
}

.squareInactive{
    visibility: hidden;
}

.span{
    letter-spacing: 0.4em;
    font-size: 2.0em; 
    color: aliceblue;
}

#button{
    margin: 10px ;
    padding: 0;
    text-align: center;
    
    
}

.alphabet{
    margin: 10px;
    padding:10px;
    border-radius: 5px;
    color:rgb(15, 15, 14);
    width: 35px;
    height: 35px;
    font-family: Raleway;
    font-weight: 800;
    font-size: 1.0em;
   


}
.lives{
    margin-bottom:100px;
    font-family: Raleway;
    font-weight: 800;
    font-size: 1.3em;
    position: absolute
}

 #main-div{
display: flex;
align-items: center;
justify-content: center;
margin-top:150px;
} 




.modal-over{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgb(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.bg-active{
    visibility: visible;
    opacity: 1;
}

.modal{
    background-color:rgba(237, 13, 13, 0.8);
    width: 50%;
    height: 50%;
    text-align: center;
}


.modal h2{
    padding-top: 40px;
    font-family: Raleway;
    font-size: 1.9em;
    font-weight: 800;
    margin-top:70px

}

.modal-close{
    cursor: pointer;
    font-family: Raleway;
    font-size: 1.2em;
    font-weight: 800;
    padding: 5px;
    margin:40px;
    width: 30%;
    height: 20%;
    background-color: rgb(11, 104, 47,0.8);

}

.modal-Initiator{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgb(250, 242, 242, );
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

 .modalInt{
    visibility: visible;
    opacity: 1;
} 

.modalIn{
    background-color: rgba(30, 221, 103, 0.14);
    width: 60%;
    height: 55%;
    text-align: center;
}


.modalIn h2{
    padding-top: 10px;
    font-size: 1.7em;
    font-family:Raleway, sans-serif ;

}

.modalIn p{
    font-size: 1.5em;
    font-weight: 500;
    font-family: Raleway, sans-serif;
    margin:15px auto;
    width: 90%;
 
}


.buttonCategory{
    cursor: pointer;
    font-family: Raleway;
    font-size: 1.0em;
    padding: 10px;
    margin:40px;
    background-color: rgba(225, 14, 14, 0.6);
}


.winner{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(65, 65, 65, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

 .win-active{
    visibility: visible;
    opacity: 1;
} 

.win-modal{
    background-color: rgb(11, 104, 47,0.8);
    width: 50%;
    height: 50%;
    text-align: center;
}


.win-modal h2{
    
    padding-top: 40px;
    font-family: Raleway;
    font-size: 1.9em;
    font-weight: 800;
    margin-top:70px

}


#winner-modal{
    cursor: pointer;
    font-family: Raleway;
    font-size: 1.2em;
    font-weight: 800;
  padding: 5px;
    margin:40px;
    width: 30%;
    height: 20%;
    background-color: rgba(225, 14, 14, 0.5);
}


#reset{
      padding:5px;
      font-size: 1.5em;
      font-family: Raleway;
      font-weight:900;
      background: none;
      border:none;
      position:absolute;
      top:590px;
      cursor:pointer

}
@media (max-width:1200px){
     .modalIn{
         width: 65%;
        height: auto;
     }

     .square{
         width: 85%;
     }

}

@media (max-width:850px){
     .modalIn{
         width: 80%;
         
     }
     .modalIn p{
        
         font-size: 1.4em;
     }

     .square{
         width:90%
     }


     .alphabet{
         margin:5px;
     }

     #main-div{
         width: auto;
     }

     .win-modal{
         width: 70%;
     }
     .modal{
         width: 70%;
     }
}

@media(max-width:450px){
#main-div{
    margin-top: 150px;
}


.alphabet{
    width: 30px;
    height: 30px;
    font-size: 0.9em;
}
.modalIn{
    width:95%;
}

.buttonCategory{
    margin-top:10px;
}
.square{
    width: 95%;
}

.modalIn h2{
    font-size: 1.4em;
    padding-top:5px;
}
.buttonCategory{
    margin:10px;
}
.span{
    font-size: 1.3em;
}

.win-modal{
    height: 50%;
}
.modal{
    height: 50%;
}
#reset{
    font-size: 1.2em
}
}
@media(max-width:280px){
    #main-div{
        margin-top: 100px;
    }

   
    
    .span{
        font-size: 1.2em;
    }
}
