body{
    background:url("../image/dominatehangman-1600.jpg");
   
}


li{
    list-style-type:none;
    display: inline-block;
    padding: 20px;
    font-size: 50px; 
}

#ul{
    display: none;
}

#button{
    position: absolute;
    bottom: 0;
    left: 400px;
}

.alphabet{
    background-color: rgb(230, 230, 230);

}

#main-div{
    position: absolute;
  top: 400px;
  left:600px;
}
/* 
.blah{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    margin:5px;
    
    
} */